@import url("https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.3.2/css/flag-icons.min.css");

.ul_about li::before{
   font-family: "bootstrap-icons";
 content: "\F272";
color: #0669FD;
    font-weight: 400;
    font-size: 22px;

}

.ul_about li{
  display: flex;
  align-items: center;
  vertical-align: middle;
  gap: 10px;
}

.icons-about_color{
  color: rgb(255 255 255 / 55%);
}

.people_card{
      border-radius: 0.75rem;
    min-height: 300px;
    padding-top: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    background-image: url("../../../assets/services/ba-sm.jpg");
    background-position: 50% 40%;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
}

.ceo_card{
   border-radius: 0.75rem;
    min-height: 300px;
    padding-top: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    background-image: url("../../../assets/leadership/Robert-Garcia.webp");
    background-position: 50% 40%;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
     filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}
.ceo_card:hover {
  filter: grayscale(0%);
}

.ceo_bio_info{
  right: 18px;
  top: 18px;
}