.titles-fs{
    text-align: center;
    color:rgb(153, 160, 174);
    line-height: 22px;
    font-size: 14px;
    font-weight: 400;
    font-family: var(--font-family--soehne-mono);
    text-transform: uppercase;
}